/* General layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background: #BBE5D6;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0;
    display: flex;
    flex-direction: column;
}