<!-- frontend/views/home.html -->
<!-- show when not logged in -->

<div class="home-view">
    <div class="home-container">
        <div class="home-left">
            <h1 class="home-title">Get Productive<br>with FocusPet</h1>

            <button class="home-btn" data-view="auth">Log In</button>
            <button class="home-btn" data-view="signup">Sign Up</button>
        </div>

        <div class="home-right">
            <iframe 
                src="./animation/index.html"
                class="husky-iframe"
                scrolling="no"
            ></iframe>
        </div>

    </div>
</div>
