<!-- frontend/views/settings.html -->
<!-- show when logged in -->

<div class="settings-view">
    <h1 class="settings-title">Profile</h1>
    <div class="settings-card">
        <header class="settings-profile">
            <div class="settings-profile-left">
                <div class="profile-avatar" id="profileAvatar"></div>

                <div class="profile-text">
                    <h2 class="profile-name" id="profileName"></h2>
                    <p class="profile-email" id="profileEmail"></p>
                </div>
            </div>
            
            <!-- Logout -->
            <button id="settingsLogoutBtn" class="settings-logout" type="button">
                Log Out
            </button>
        </header>

        <section class="settings-main">

            <!-- whitelist -->
            <div class="settings-panel">
                <h3 class="panel-title">Websites Whitelist</h3>
                <p class="panel-subtitle">
                    Websites that count as productive work.
                </p>

                <div class="panel-input-row">
                    <input
                        type="text"
                        class="panel-input"
                        placeholder="Add a website here"
                    />
                    <button class="panel-add-btn" type="button">+</button>
                </div>

                <ul class="website-list">
                    <!-- placeholder -->
                    <li>docs.google.com</li>
                    <li>notion.com</li>
                </ul>
            </div>

            <!-- blacklist -->
            <div class="settings-panel">
                <h3 class="panel-title">Websites Blacklist</h3>
                <p class="panel-subtitle">
                    Websites you want to block.
                </p>

                <div class="panel-input-row">
                    <input
                        type="text"
                        class="panel-input"
                        placeholder="Add a website here"
                    />
                    <button class="panel-add-btn" type="button">+</button>
                </div>

                <ul class="website-list">
                    <!-- placeholder -->
                    <li>youtube.com</li>
                    <li>twitter.com</li>
                </ul>
            </div>
        </section>
    </div>
</div>