<!-- frontend/views/signup.html -->
<!-- show when not logged in -->

<div id="authView" class="auth-view">
    <div class="auth-card">
        <h2 class="auth-title">Sign Up</h2>
        <p class="auth-subtitle">
        </p>

        <div class="auth-fields">
            <input id="signupEmail" type="email" placeholder="you@example.com" class="auth-input" />
            <input id="signupPassword" type="password" placeholder="Password" class="auth-input" />
        </div>

        <div class="auth-actions">
            <button id="signupBtn" class="auth-button">
                Sign Up
            </button>
        </div>

        <div id="signupMessage" class="auth-message"></div>
    </div>
</div>