/* lock global transforms */
.husky.husky--sad {
    transform: none !important;
}

.husky.husky--sad .husky-head,
.husky.husky--sad .husky-face,
.husky.husky--sad .husky-nose,
.husky.husky--sad .husky-mouth {
    transform: none !important;
}

/* legs */
.husky.husky--sad .husky-front-legs {
    position: absolute;
    width: 55%;
    height: 120%;
    bottom: 0;
    right: -12%;
}

.husky.husky--sad .husky-front-legs > .husky-leg {
    position: absolute;
    bottom: -1px;
    right: 50%;
    width: 51%;
    height: 100%;
    overflow: hidden;
}

.husky.husky--sad .husky-front-legs > .husky-leg + .husky-leg {
    right: 0;
    transform: rotateY(180deg);
}

.husky.husky--sad .husky-hind-leg {
    position: absolute;
    bottom: 0;
    right: 45%;
}

/* ears */
.husky.husky--sad .husky-ear {
    top: 3%;
    left: -10%;
}

.husky.husky--sad .husky-ear:nth-child(2) {
    top: 5%;
    left: 15%;
}

.husky.husky--sad .husky-ears .husky-ear:nth-child(2)::after {
    content: "";
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

/* mouth + lips */
.husky .husky-tongue {
    display: none !important;
}

.husky.husky--sad .husky-lips {
    transform: scaleY(-1);
    transform-origin: center 60%;
}

.husky.husky--sad .husky-mouth::before,
.husky.husky--sad .husky-mouth::after {
    display: none;
}

/* corner dimples */
.husky .husky-mouth::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: conic-gradient(from 210deg at 32% 58%, #A3ADBB 0 28deg, transparent 0 360deg),
    conic-gradient(from 322deg at 68% 58%, #A3ADBB 0 28deg, transparent 0 360deg);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}

/* sad mouth */
.husky.husky--sad .husky-mouth {
    left: 40%;
    top: 60%;
    width: 46%;
    height: 36%;
    transform: translate(-50%, -50%);
    overflow: visible;
    z-index: 5;
    rotate: 15deg;
}

.husky.husky--sad .husky-mouth::after {
    border-top: .35vmin solid #A3ADBB;
    border-left-color: transparent;
    border-right-color: transparent;
    transform: translateY(-6%);
}

.husky.husky--sad .husky-mouth::before {
    background: conic-gradient(from 228deg at 30% 62%, #A3ADBB 0 28deg, transparent 0 360deg);
}

.husky.husky--sad .husky-lips::after {
    display: none;
}

/* eyes */
.husky.husky--sad .husky-eye::before {
    top: 55%;
    animation: pupil-sway-sad 4.2s ease-in-out infinite;
}

@keyframes pupil-sway-sad {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0.2vmin, 0.2vmin);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(-0.2vmin, 0.2vmin);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* eyebrows */
.husky.husky--sad .husky-brows {
    position: absolute;
    inset: 0;
    z-index: 7;
    pointer-events: none;
}

.husky.husky--sad .husky-brow {
    position: absolute;
    top: 18%;
    width: 2.5vmin;
    height: 0.5vmin;
    background: #A3ADBB;
    border-radius: 1vmin;
}

.husky.husky--sad .husky-brow--left {
    left: 58%;
    transform: rotate(20deg);
}

.husky.husky--sad .husky-brow--right {
    right: 53%;
    transform: rotate(-20deg);
}

/* tears */
.husky.husky--sad .husky-tears {
    position: absolute;
    inset: 0;
    z-index: 6;
    pointer-events: none;
    overflow: visible;
}

.husky.husky--sad .tear {
    position: absolute;
    width: .7vmin;
    height: 1.1vmin;
    background: #8EC5FF;
    border-radius: 60% 60% 80% 80% / 60% 60% 90% 90%;
    box-shadow: 0 0 .05vmin rgba(0, 0, 0, .10);
    filter: drop-shadow(0 .08vmin rgba(0, 0, 0, .12));
    transform-origin: 50% 0%;
    opacity: 0;
}

.husky.husky--sad .tear--left {
    left: 38%;
    top: 35%;
    animation: tear-left 2.6s ease-in infinite;
}

.husky.husky--sad .tear--right {
    left: 65%;
    top: 35%;
    animation: tear-right 2.6s ease-in infinite;
    animation-delay: 1s;
}

@keyframes tear-left {
    0% {
        transform: translate(0, 0) scale(.85);
        opacity: 0;
    }
    6% {
        opacity: .95;
    }
    65% {
        transform: translate(-.3vmin, 3.6vmin) scale(.95);
        opacity: .9;
    }
    100% {
        transform: translate(-.4vmin, 4.2vmin) scale(.9);
        opacity: 0;
    }
}

@keyframes tear-right {
    0% {
        transform: translate(0, 0) scale(.85);
        opacity: 0;
    }
    6% {
        opacity: .95;
    }
    65% {
        transform: translate(.3vmin, 3.6vmin) scale(.95);
        opacity: .9;
    }
    100% {
        transform: translate(.4vmin, 4.2vmin) scale(.9);
        opacity: 0;
    }
}
